<ion-view title="Event Details" id="page8">
  <ion-content padding="true" class="has-header">
    <form id="eventDetails-form8" class="list">
      <label class="item item-input item-floating-label" id="eventDetails-input19" name="Event Name">
        <span class="input-label">Event Name</span>
        <input type="text" placeholder="NSBE Convention 2017">
      </label>
      <label class="item item-input item-floating-label" id="eventDetails-input20" name="Date">
        <span class="input-label">Date</span>
        <input type="date" placeholder="March 31, 2017">
      </label>
      <label class="item item-input item-floating-label" id="eventDetails-input21" name="City">
        <span class="input-label">City</span>
        <input type="text" placeholder="Kansas City">
      </label>
      <label class="item item-input item-floating-label" id="eventDetails-input24" name="State">
        <span class="input-label">State</span>
        <input type="text" placeholder="MO">
      </label>
      <label class="item item-input item-floating-label" id="eventDetails-input27" name="Time">
        <span class="input-label">Time</span>
        <input type="time" placeholder="11:00 AM">
      </label>
      <div>
        <img src="img/NxNtMtNeT62qWzuwWDP1_FullSizeRender4.jpg" style="display: block; width: 100%; height: 250px; margin-left: auto; margin-right: auto;">
      </div>
      <a ui-sref="tabsController.events" id="eventDetails-button9" class="button button-royal  button-block">Update Event</a>
      <button id="eventDetails-button16" class="button button-assertive  button-block">Delete</button>
    </form>
  </ion-content>
</ion-view>