<ion-view title="Follow Up Details" id="page9">
  <ion-content padding="true" class="has-header">
    <form id="followUpDetails-form9" class="list">
      <form id="followUpDetails-form10" class="list">
        <label class="item item-input item-floating-label" id="followUpDetails-input33" name="Title">
          <span class="input-label">Name</span>
          <input type="text" placeholder="Name">
        </label>
        <label class="item item-input item-floating-label" id="followUpDetails-input34" name="Company">
          <span class="input-label">Company</span>
          <input type="text" placeholder="Company">
        </label>
        <label class="item item-input item-floating-label" id="followUpDetails-input35" name="Email">
          <span class="input-label">Email</span>
          <input type="email" placeholder="Email">
        </label>
        <label class="item item-input item-floating-label" id="followUpDetails-input36" name="Number">
          <span class="input-label">Number</span>
          <input type="tel" placeholder="Number">
        </label>
        <label class="item item-input item-floating-label" id="followUpDetails-input37" name="Number">
          <span class="input-label">Number</span>
          <input type="tel" placeholder="Number">
        </label>
        <label class="item item-input item-floating-label" id="followUpDetails-input38" name="Notes">
          <span class="input-label">Notes</span>
          <input type="text" placeholder="Notes">
        </label>
        <button id="followUpDetails-button12" class="button button-balanced  button-block">Email</button>
        <button id="followUpDetails-button13" class="button button-balanced  button-block">Call</button>
        <a ui-sref="tabsController.home_tab1" id="followUpDetails-button11" class="button button-royal  button-block">Update Follow Up</a>
        <button id="followUpDetails-button14" class="button button-assertive  button-block">Delete</button>
      </form>
    </form>
  </ion-content>
</ion-view>