<ion-view title="Home" id="page12" style="background-color:#E2E2E4;">
  <ion-content padding="true" class="has-header" onload="change()">

    <div class="list card" id="home-card1"style="display: none">
      <ion-item class="item-avatar" id="home-list-item6">
        <h2>Hal Marz</h2>
        <p>Google</p>
      </ion-item>
      <div class="item item-body" id="home-list-item-container2">
        <div id="home-markdown2" style="text-align:right;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>1 minute  ago </strong>
          </p>
        </div>
      </div>
    </div>

    <div class="list card" id="home-card22">
      <ion-item class="item-avatar" id="home-list-item6">
        <h2>Jacob Jackson</h2>
        <p>Microsoft</p>
      </ion-item>
      <div class="item item-body" id="home-list-item-container3">
        <div id="home-markdown3" style="text-align:right;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>2 hours ago </strong>
          </p>
        </div>
      </div>
    </div>
    <div class="list card" id="home-card21">
      <ion-item class="item-avatar" id="home-list-item9">
        <h2>Sarah Bonds</h2>
        <p>Apple</p>
      </ion-item>
      <div class="item item-body" id="home-list-item-container4">
        <div id="home-markdown4" style="text-align:right;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>3 hours ago </strong>
          </p>
        </div>
      </div>
    </div>
    <div class="list card" id="home-card23">
      <ion-item class="item-avatar" id="home-list-item10">
        <h2>James Brown</h2>
        <p>Google</p>
      </ion-item>
      <div class="item item-body" id="home-list-item-container5">
        <div id="home-markdown5" style="text-align:right;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>8 hours ago </strong>
          </p>
        </div>
      </div>
    </div>
    <div class="list card" id="home-card24">
      <ion-item class="item-avatar" id="home-list-item11">
        <h2>Alejandra Hernandez</h2>
        <p>Intel</p>
      </ion-item>
      <div class="item item-body" id="home-list-item-container6">
        <div id="home-markdown6" style="text-align:right;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>1 day ago</strong>
          </p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
