<ion-view title="Login" id="page5" style="background-color:#E2E2E4;">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/WzN2NPEzRJqlxjhQVDwA_logo.png" style="display: block; width: 200px; height: 200px; margin-left: auto; margin-right: auto;">
    </div>
    <form id="login-form1" class="list">
      <ion-list id="login-list1">
        <label class="item item-input" id="login-input1">
          <span class="input-label">Username</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="login-input2">
          <span class="input-label">Password</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <a ui-sref="tabsController.home" id="login-button1" class="button button-royal  button-block">Log in</a>
    </form>
  </ion-content>
</ion-view>