<ion-view title="New Event" id="page6">
  <ion-content padding="true" class="has-header">
    <form id="newEvent-form5" class="list">
      <label class="item item-input item-floating-label" id="newEvent-input13" name="Event Name">
        <span class="input-label">Event Name</span>
        <input type="text" placeholder="Event Name">
      </label>
      <label class="item item-input item-floating-label" id="newEvent-input14" name="Date">
        <span class="input-label">Date</span>
        <input type="date" placeholder="Date">
      </label>
      <label class="item item-input item-floating-label" id="newEvent-input15" name="City">
        <span class="input-label">City</span>
        <input type="text" placeholder="City">
      </label>
      <label class="item item-input item-floating-label" id="newEvent-input12" name="State">
        <span class="input-label">State</span>
        <input type="text" placeholder="State">
      </label>
      <label class="item item-input item-floating-label" id="newEvent-input16" name="Time">
        <span class="input-label">Time</span>
        <input type="time" placeholder="Time">
      </label>
      <button id="newEvent-button18" class="button button-balanced  button-block">Add Image</button>
    </form>
    <button id="newEvent-button7" class="button button-royal  button-block">Save</button>
  </ion-content>
</ion-view>