<ion-view title="Profile" id="page2" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="has-header">
    <form id="profile-form2" class="list">
      <label class="item item-input item-floating-label" id="profile-input3" name="Name">
        <span class="input-label">Name</span>
        <input type="text" placeholder="Brandon Long">
      </label>
      <label class="item item-input item-floating-label" id="profile-input4" name="Email">
        <span class="input-label">Email</span>
        <input type="text" placeholder="blong1996@gmail.com">
      </label>
      <label class="item item-input item-floating-label" id="profile-input5" name="Number">
        <span class="input-label">Number</span>
        <input type="text" placeholder="404-123-4567">
      </label>
      <label class="item item-input item-floating-label" id="profile-input6" name="Title">
        <span class="input-label">Title</span>
        <input type="text" placeholder="Student">
      </label>
      <label class="item item-input item-floating-label" id="profile-input7" name="Company">
        <span class="input-label">Company</span>
        <input type="text" placeholder="North Carolina A &amp; T State Univ.">
      </label>
    </form>
    <button id="profile-button8" class="button button-royal  button-block">Update</button>
    <a ui-sref="tabsController.login" id="profile-button17" class="button button-assertive  button-block">Logout</a>
  </ion-content>
</ion-view>